<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts | Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Font-Awesome/css/all.css')}}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}"> -->
    
</head>



<section class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <h2 class="py-3">Post dashboard</h2>
      {% for post in posts %}

      
      <p><b>Title</b> {{post.title}} </p>
      <p><b>Contenu</b> {{post.body}} </p>
      <p><b>image</b><img src="{{post.image}}" alt=""> </p>
      <p><b>date publication</b> {{post.date_pub}} </p>
      <hr>
      {% endfor %}
    </div>
  </div>
</section>


<script src="{{ url_for('static', filename='js/bootstrap.bundle.js')}}"></script>
</body>
</html>

     
