{% extends 'NiceAdmin/baseAdmin.html' %}
{%block content %}         
   

    <main id="main" class="main">

      <div class="pagetitle">
        <h1>Contacts</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/NiceAdmin">Acceuil</a></li>
            
            <li class="breadcrumb-item active">Contacts</li>
          </ol>
        </nav>
      </div><!-- End Page Title -->

      <section class="section">
        <div class="row">
          <div class="col-lg-12">
           <h5> Les Contactes</h5>
            <div class="card ">
             <div class="card-body mt-3">
              {% for contact in contacts %}
              <p> {{contact.name}} </p>
              <p> {{contact.email}} </p>
              <p> {{contact.subject}} </p>
              <p> {{contact.message}} </p>
              <hr>
              {% endfor %}
             </div>
            </div>

          </div>
        </div>
      </section>

    </main><!-- End #main -->
{%endblock%}