{% extends 'NiceAdmin/baseAdmin.html' %}
{%block content %}         
   
   

    <main id="main" class="main">

      <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Acceuil Principale</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
          </ol>
        </nav>
      </div><!-- End Page Title -->

      <section class="section dashboard">
        <div class="row">

          <!-- Left side columns -->
          <div class="col-lg-8">
            <div class="row">

              <!-- Blog en attend -->
              <div class="col-xxl-4 col-md-6">
                <div class="card info-card sales-card">

                  <div class="filter">
                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                      <li class="dropdown-header text-start">
                        <h6>Filter</h6>
                      </li>

                      <li><a class="dropdown-item" href="#">Aujord'huis</a></li>
                      <li><a class="dropdown-item" href="#">un mois</a></li>
                      <li><a class="dropdown-item" href="#">une Annèe</a></li>
                    </ul>
                  </div>

                  <div class="card-body">
                    <h5 class="card-title">Blog <span>| En attent</span></h5>

                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-book"></i>
                      </div>
                      <div class="ps-3">
                        <h6>{{nombreBlogAttent}}</h6>
                        <!-- <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span> -->

                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <!-- fin Blog en attend -->

              <!-- Blog publié -->
              <div class="col-xxl-4 col-md-6">
                <div class="card info-card revenue-card">

                  <div class="filter">
                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                      <li class="dropdown-header text-start">
                        <h6>Filter</h6>
                      </li>

                      <li><a class="dropdown-item" href="#">Aujord'huis</a></li>
                      <li><a class="dropdown-item" href="#">Mois</a></li>
                      <li><a class="dropdown-item" href="#">Annèe</a></li>
                    </ul>
                  </div>

                  <div class="card-body">
                    <h5 class="card-title">Blog <span>| publié</span></h5>

                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-book"></i>
                      </div>
                      <div class="ps-3">
                        <h6>{{nombreBlogPublier}}</h6>
                        <!-- <span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span> -->

                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <!-- fin Blog publié -->

              <!-- Blog rejeté -->
              <div class="col-xxl-4 col-xl-12">

                <div class="card info-card customers-card">

                  <div class="filter">
                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                      <li class="dropdown-header text-start">
                        <h6>Filter</h6>
                      </li>

                      <li><a class="dropdown-item" href="#">Today</a></li>
                      <li><a class="dropdown-item" href="#">This Month</a></li>
                      <li><a class="dropdown-item" href="#">This Year</a></li>
                    </ul>
                  </div>

                  <div class="card-body">
                    <h5 class="card-title">Blog <span>| Rejetè</span></h5>

                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-book"></i>
                      </div>
                      <div class="ps-3">
                        <h6>{{nombreBlogPublier}}</h6>
                        <!-- <span class="text-danger small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">decrease</span> -->

                      </div>
                    </div>

                  </div>
                </div>

              </div>
              <!-- fin Blog rejeté -->
                <div class="row">
                  <table class="table">
                    <tr>
                      <th>Nom</th>
                      <th>Email</th>
                      <th>Password</th>
                      <th>admin</th>
                    </tr>
                    {% for user in users %}
                    <tr>
                      <th scope="row">{{user.id}}</th>
                      <td>{{user.username}}</td>
                      <td>{{user.email}}</td>
                      <td>{%if user.admin%} Administrateur  {%else%}  utilisateur {%endif%}</td>
                      <td>{{user.password}}</td>
                      <td><a class="btn btn-danger "href="../user/{{user.id}}/delete">Supprimer</a> <a class="btn btn-success" href="../user/{{user.id}}/update">Modifier</a></td>
                    </tr>
                    {%endfor%}
                  </table>
        </div>

            </div>
          </div>
          <!-- End Left side columns -->

          <!-- Right side columns -->
          <div class="col-lg-4">

            <div class="pagetitle">
              <h1>le Blog recent</h1>
              <nav>
                <ol class="breadcrumb">
                
                  <li class="breadcrumb-item active">Aujord'huis</li>
                </ol>
              </nav>
            </div>
            <div class="bg-white shadow text-muted p-5 rounded">
              {% for blog in dernierBlog %}
              <h3>{{blog.title}}</h3>
              {{blog.body}} <br>
              <span>Auteur :</span> <b>{{blog.Nom}}</b> <br>
              <small class="text-body-secondary"> Date:{{blog.date_pub}}</small>
              {%endfor%}
            </div>
        

  


          </div>
          <!-- End Right side columns -->

        </div>
    
      </section>

    </main><!-- End #main -->




  {%endblock%}