{% extends 'NiceAdmin/baseAdmin.html' %}
{%block content %}         
   

    <main id="main" class="main">

      <div class="pagetitle">
        <h1>Utilisateur</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/NiceAdmin">Acceuil</a></li>
            <li class="breadcrumb-item">Tables</li>
            <li class="breadcrumb-item active">Donne</li>
          </ol>
        </nav>
      </div><!-- End Page Title -->

      <section class="section">
        <div class="row">
          <div class="col-lg-12">

            <div class="card">
              <div class="card-body">
                <!-- <h5 class="card-title">Datatables</h5> -->
               <p>

               </p>
                <!-- Table with stripped rows -->
                <table class="table datatable">
                  <thead>
                    <tr>
                      <th scope="col">id</th>
                      <th scope="col">Nom</th>
                      <th scope="col">Email</th>
                      <th scope="col">Admin</th>
                      <th scope="col">Password</th>
                      <th scope="col">Action</th> 
                      
                      <!-- <th scope="col">Start Date</th> -->
                    </tr>
                  </thead>
                  <tbody>

                    {% for user in users %}
                    <tr>
                      <th scope="row">{{user.id}}</th>
                      <td>{{user.username}}</td>
                      <td>{{user.email}}</td>
                      <td>{%if user.admin%} Administrateur  {%else%}  utilisateur {%endif%}</td>
                      <td>{{user.password}}</td>
                      <td><a class="btn btn-danger "href="../user/{{user.id}}/delete">Supprimer</a> <a class="btn btn-success" href="/users-profile/{{user.id}}/update">Modifier</a></td>
                    </tr>
                    {%endfor%}
                  </tbody>
                </table>
                <!-- End Table with stripped rows -->

              </div>
            </div>

          </div>
        </div>
      </section>

    </main><!-- End #main -->
{%endblock%}