{% extends 'base.html' %}
{% block content %}

{% block title %} {{ titre }} {% endblock %}  

  <main id="main">

    <!-- ======= Hero Slider Section ======= -->
    <section id="hero-slider" class="hero-slider">
      <div class="container-md" data-aos="fade-in">
        <div class="row">
          <div class="col-12">
            <div class="swiper sliderFeaturedPosts">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="img-bg d-flex align-items-end" style="background-image: url('/static/assets/img/post-landscape-3.jpg');">
                    <div class="img-bg-inner">
                      <h2 class=""></h2>
                      <p class="" style="font-size: 21px" >Découvrez un espace numérique où vos mots prennent vie, où vos histoires se propagent et où votre passion trouve une voix - notre plateforme de blogging est là pour vous accompagner dans votre voyage</p>
    
                    </div>

                  </div>

                </div>

                <div class="swiper-slide">
                  <div class="img-bg d-flex align-items-end" style="background-image: url('/static/assets/img/news-2.jpg');">
                    <div class="img-bg-inner">
                      <h2></h2>
                      <p style="font-size: 21px">Du partage d'expériences à l'expression créative, notre plateforme de blogging est votre porte d'entrée vers un univers captivant.</p>
                    </div>
                  </div>
                </div>

                <div class="swiper-slide">
                  <div class="img-bg d-flex align-items-end" style="background-image: url('/static/assets/img/news-3.jpg');">
                    <div class="img-bg-inner">
                      <h2></h2>
                      <p style="font-size: 21px">Plongez dans un monde d'inspiration et de découverte avec notre plateforme de blogging.</p>
                    </div>
                  </div>
                </div>

                <div class="swiper-slide">
                  <div class="img-bg d-flex align-items-end" style="background-image: url('/static/images/BG3.jpeg');">
                    <div class="img-bg-inner">
                      <h2></h2>
                      <p style="font-size: 21px" >Exprimez-vous librement et rejoignez une communauté dynamique de créateurs sur notre plateforme de blogging, où les idées prennent vie.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="custom-swiper-button-next">
                <span class="bi-chevron-right"></span>
              </div>
              <div class="custom-swiper-button-prev">
                <span class="bi-chevron-left"></span>
              </div>

              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Hero Slider Section -->

  

    <!-- ======= Culture Category Section ======= -->
    <section class="category-section">
      <div class="container" data-aos="fade-up">

        <div class="section-header d-flex justify-content-between align-items-center mb-5">
          <h3>Top 10 Articles plus récents</h3>
          <div><a href="/posts" class="more">voir tous les articles</a></div>
        </div>

        <div class="container-fluid my-3">
          {% for post in posts %}
          <img src="{{url_for('static', filename='images/' +post.image)}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h1 class="card-title text-capitalize text-success">{{post.title}}</h1>
            <p class="card-text " style="font-family: Verdana, Geneva, Tahoma, sans-serif;"> {{post.body}} </p>
            <p class="card-text"style="font-family: Arial, Helvetica, sans-serif; font-size: 20px"  ><small class="text-body-secondary">created in {{ post.date_pub.strftime('%d-%m-%Y')}} </small>
              <h3>{{post.Nom}}</h3>
          </div>
          {% endfor %}
        </div>
        
      </div>
    </section><!-- End Culture Category Section -->

    

  </main><!-- End #main -->

 
{% endblock %}



 